---
title: Blog
date: 2023-01-15
description: I'm writing about me and my life. Maybe someone finds it interesting and amusing.
layout: page
eleventyNavigation:
  key: main
  title: Blog #  as it will appear in the nav
  order: 3    # order to display in the nav
seo:
  title: Blog
  description:
pagination:
  data: collections.post
  size: 12
  reverse: true
  alias: posts
---

<p>
Some introduction to my ideas about what the blog will be.
</p>

<hr class="mt-8">

{% set postslist = posts | reverse %}

{#
  Allows a user to easily change the Tag List Style.
  Please see instructions in /src/_data/structure.js >>> ===== Post List Style Options =====
#}
{% set postlist = ['components/', structure.postListStyle, '.njk'] %}
{% include postlist | join %}

{# ===== Paginate based on "size" frontmatter value above =====  #}
{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
{% if collections.post.length > pagination.size %}
  {% include "components/pagination.njk" %}
{% endif %}